<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iana.sia">

    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginMCActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginIDDActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".NoInternetActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginEPActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginTPUActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginSECActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginIDDLicActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ForgotPasswordSECActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ForgotPasswordTPUActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ForgotUsernameTPUActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".RegisterTPUActivity" />
        <activity android:name=".NotifAvailActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".StreetTurnActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".VerifyActivity" />
        <activity android:name=".SuccessActivity" />
        <activity android:name=".InitiateInterchangeActivity" />
        <activity android:name=".SearchInterchangeRequestActivity" />
        <activity android:name=".EPListByTPUActivity" />
        <activity android:name=".ListInterchangeRequestActivity" />
        <activity android:name=".InterchangeRequestOperationActivity" />
        <activity android:name=".SearchNotifAvailActivity" />
        <activity android:name=".ListNotifAvailActivity"></activity>
    </application>

</manifest>